.vue-typer {
  /* Styles for the vue-typer container
     e.g. font-family, font-size  */
  font-size: 23px;
  .custom.char {
    color:#212529;
  }
}

.g-image {
  max-width: 100%;
}

.v--modal-block-scroll {
  overflow: hidden;
}
